<main class="input-container">
    <header class="input-header">
        <h2>Welcome! <span class="member-name"></span></h2>
        <button class="submitBtn" id="logout">Log Out</button>
    </header>

    <section class="inputs">
        <h3 class="titleBtn"></h3>
        <button class="submitBtn" id="start">Create Survey</button>
    </section>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>